header {
    background-color: #f45642;
}
body {
    background-color: #000066;
    margin-left: 150px;
    margin-right: 150px
}
main {
    background-color: white;
    font-family: "Arial", sans-serif;
}