#warpDiv {
    width: 500px;
    height: 500px;
    background-color: red;
}

.warp {
    width: 500px;
    height: 500px;
    background-color: red;
}

.warpOne {
    transform: rotate(134deg);
}

.warpTwo {
    transform: skew(34deg, -49deg) rotate(113deg);
}

.warpThree {
    transform: rotateX(32deg) rotateY(43deg) rotateZ(107deg);
}

.warpFour {
    transform: rotateX(182deg) skew(33deg, 67deg);
}